
<mat-dialog-content>
  <mat-card>
    <mat-card-header>
      {{ data.title }}
    </mat-card-header>
    <mat-card-content>
      <div class="row">{{ data.message }}</div>
      <br>
      <div *ngIf="data.changes">
        <div class="row" *ngFor="let ch of data.changes">
          <div *ngIf="!checkUTF8(ch.value)">
            <div class="col-6">{{ ch.key }}</div>
            <div class="col-6">{{ ch.value }}</div>
          </div>
          <div *ngIf="checkUTF8(ch.value)">
            <div class="col-6">{{ ch.key }}</div>
            <div class="col-6"><img width="150px" height="100px" src="{{ch.value}}" alt=""></div>
          </div>
        </div>
        <br>
        <p>Do you confirm them?</p>
      </div>
    </mat-card-content>
  </mat-card>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button color="primary" (click)="onYesClick()">Yes</button>
</mat-dialog-actions>

