{% extends "base.html" %}

{% block title %}Daily Report{% endblock %}

{% block content %}
<div id="report-container">
    <h2 class="text-center">Daily Report</h2>
    <table class="table table-striped" style="width: 500px; height: max-content;">
        <thead>
            <tr>
                <th>Patient Name</th>
                <th>Charges</th>
            </tr>
        </thead>
        <tbody id="report-body">
        </tbody>
    </table>
</div>
<div class="text-center">
    <a class="btn btn-primary" id="download-report">Download Report</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="{{url_for('static',filename='js/daily_report.js')}}"></script>
{% endblock %}