mat-sidenav{
  height: 800px !important;
  width: max-content;
  background: #3888b0;
}
mat-sidenav-content{
  height: 800px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.custom-panel {
  background-color: transparent;
  color: #333;
  border: none;
  //padding: 10px;
  box-shadow: none;
  width: fit-content;
  a{
    text-decoration: none;
  }
}
mat-card-footer{

  bottom: 0;
}
mat-sidenav-content{
  //background-color: #ffffff;
color: #ffffff;
}
mat-expansion-panel-header{
  width: 200px;
}
