<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <mat-card routerLink="new" class="dashboard-card">
        <mat-card-content>
          <mat-icon>person_add</mat-icon>
          <span>User</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <mat-card routerLink="all" class="dashboard-card">
        <mat-card-content>
          <mat-icon>people</mat-icon>
          <span>User</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
