<div class="container mt-5">
  <div class="row ">
    <div class="col-md-6 col-lg-6 col-sm-6">
      <mat-card routerLink="new" class="dashboard-card">
        <mat-card-content class="ps-0">
          <mat-icon>person_add</mat-icon>
          <span>Add New User</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6">
      <mat-card routerLink="all" class="dashboard-card">
        <mat-card-content class="ps-0">
          <mat-icon>people</mat-icon>
          <span class="w-100">View All Users</span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
