

.patient-form {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
  color: #ffffff;
}

.full-width {
  width: 100%;
}

.mat-grid-tile {
  padding: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label{
  background-color:#f8d7da;
}

//::ng-deep .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
//  background-color: #cc1b1b;
//}
::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__surface{
  background-color:#f8d7da;

}
::ng-deep .mdc-snackbar__surface    {
  padding-left: 0;
  padding-right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  transform: scale(0.8);
  opacity: 0;
}
::ng-deep.mat-mdc-snack-bar-container .mdc-snackbar__label{
  color: #721c24 !important;
  text-align: center;

}

//::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
//  //background-color:  !important;
//  color: black !important;
//}
.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;


  img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    max-width: 100%;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
  }
}
::ng-deep .patient-form{
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #384e8c;
}}
